{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    // Additional, per-project rules...
    "no-console": 0
  }
}
